@charset 'UTF-8';

h2, h3, h4, p{
  text-align: center;
  color: black;
}

h1.tk{
  color: darkturquoise;
  font-size: 50pt;
  text-align: center;
}

.button-center{
  width: 100%;
  height: 30pt;
  margin-bottom: 50px;
  background: black;
}

a{
  font-size: 17pt;
  color: aqua;
  text-decoration: none;
}

.pp{
  color: aqua;
  margin: 0px;
  padding: 0px;
}
