@charset 'UTF-8';
    
h2, h3, h4, p {
  text-align: center;
  color: black;
}

h1.tk {
  margin-top: -7px;
  padding: 1px;
  color: darkturquoise;
  font-size: 50pt;
  text-align: center;
  border: solid 10px;
  background: black;
  border-radius: 20px;
}

.button-center {
  width: 100%;
  height: 30pt;
  background: black;
  margin: 0 0 20px 0;
  border-radius: 20px;
}

a {
  font-size: 17pt;
  color: aqua;
  text-decoration: none;
}

.pp {
  color: aqua;
  margin: 0px;
  padding: 0px;
}

img {
  width: 100%;
  height: 199px;
  margin-top: -6px;
  padding-top: -6px;
}

video {
  width: 360px;
}